<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247437372590-atfju1ctl2a3sk26r1o7b8r7jhpos6ov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247437372590-atfju1ctl2a3sk26r1o7b8r7jhpos6ov</string>
	<key>API_KEY</key>
	<string>AIzaSyA_Eta2Ik0wS2zshf8s35D2LvY_1NNnq7k</string>
	<key>GCM_SENDER_ID</key>
	<string>247437372590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.Spaminataro202208</string>
	<key>PROJECT_ID</key>
	<string>spaminataro202208</string>
	<key>STORAGE_BUCKET</key>
	<string>spaminataro202208.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247437372590:ios:160b270198fbe4e211113f</string>
</dict>
</plist>